<%- include("partials/header") -%>
        <nav>
            <input type="checkbox">
            <span></span>
            <span></span>
            
            <ul class="menu_list">
                <form id="renameList" method="get" action="/renameList"></form>
                <li><a onclick="document.getElementById('renameList').submit()">Rename List</a></li>
                <form id="deleteList" method="post" action="/DeleteList"></form>
                <li><a onclick="document.getElementById('deleteList').submit();">Delete List</a></li>
            </ul>
        </nav>

        <div class="box" id="heading">
            <h1 id="ListTitle"><%= ListTitle %></h1>
        </div>

        <div class="box">
            <% let i = 0; %>
            <%Tasks.forEach(function(Task){ %>
                <div class="item">
                    <input type="checkbox" value="<%= Task %>" name="check">
                    <p id="TaskName"><%=  Task %></p>
                        <button value="<%= Task %>" id="btnIDelete" onclick="iDelete(this)" class="btn btn-delete">
                            <span class="mdi mdi-delete mdi-24px"></span>
                            <span class="mdi mdi-delete-empty mdi-24px"></span>
                            <span>Delete</span>
                          </button>
                </div>
                <% i += 1; %>
           <% }); %>
           <form class="left-align-form">
            <button id="btnDelete" class="delete-button" onclick="myDelete()">-</button>
           </form>
            
           <form action="/Lists/<%= ListTitle %>" method="post" class="item">
                <input autocomplete="off" type="text" name="NewTask" placeholder="New Task" required
                oninvalid="this.setCustomValidity('task is required')" oninput="this.setCustomValidity('')">
                <button type="submit" name="btnList" class="round-button">+</button>
            </form>
            <%Lists.forEach(function(list){ %>
                <form action="/Lists/<%= list.name %>" method="get" class="left-align-form">
                    <button class="rounded-button"><%= list.name %></button>
                </form>
            <% }) %>
            <form action="/addList" method="post" class="left-align-form">
                <input type="text" autocomplete="off" name="NewList" placeholder="New List" required
                oninvalid="this.setCustomValidity('List Name is required')" oninput="this.setCustomValidity('')">
                <button type="submit" name="btnNewList" class="round-button">+</button>
            </form>
        </div>
        
<%- include("partials/footer") -%>