<%- include("header") -%>
        <nav>
            <input type="checkbox">
            <span></span>
            <span></span>
            
            <ul class="menu_list">
                <form id="deleteList" method="post" action="/dropCollection"></form>
                <li><a onclick="document.getElementById('deleteList').submit();">Delete List</a></li>
                <form id="renameList" method="get" action="/renameCollection"></form>
                <li><a onclick="document.getElementById('renameList').submit()">Rename List</a></li>
            </ul>
        </nav>

        <div class="box" id="heading">
            <h1 id="ListTitle"><%= ListTitle %></h1>
        </div>

        <div class="box">
            <% let i = 0; %>
            <%Tasks.forEach(function(Task){ %>
                <div class="item">
                    <input type="checkbox" value="<%= i %>" name="check">
                    <p><%=  Task.name %></p>
                </div>
                <% i++; %>
           <% }); %>
           <form class="left-align-form">
            <button id="btnDelete" class="delete-button" onclick="myDelete()">-</button>
           </form>
           
           <script>
               function myDelete(){
                   const pageTitle = document.getElementById("ListTitle").innerHTML;
                   let arr = [];
                   let checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
                   if(checkboxes.length == 0){
                    alert("Pls check at least one checkbox to delete");
                    return;
                   }
                   for (let i = 0; i < checkboxes.length; i++) {
                       arr.push(checkboxes[i].value)
                   }
                   let body = JSON.stringify({checked : arr});
                   fetch("/remove",
                   {method: "post",
                   redirect:"follow",
                   body: body,
                   headers: {
                       'Content-Type' : 'application/json' 
                   }})
                   .then(response => {
                    if(response.redirected){
                        window.location.href = "/typeoflist/" + pageTitle;
                    }
                   })
                   .catch(function(err){
                    console.info(err);
                   })
               }
           </script>
            
           <form action="/TypeOfList/<%= ListTitle %>" method="post" class="item">
                <input autocomplete="off" type="text" name="NewTask" placeholder="New Task" required
                oninvalid="this.setCustomValidity('task is required')" oninput="this.setCustomValidity('')">
                <button type="submit" name="btnList" class="round-button">+</button>
            </form>
            <%Lists.forEach(function(list){ %>
                <form action="/typeoflist/<%= list.name %>" method="get" class="left-align-form">
                    <button class="rounded-button"><%= list.name %></button>
                </form>
            <% }); %>
            <form action="/addList" method="post" class="left-align-form">
                <input type="text" autocomplete="off" name="NewList" placeholder="New List" required
                oninvalid="this.setCustomValidity('List Name is required')" oninput="this.setCustomValidity('')">
                <button type="submit" name="btnNewList" class="round-button">+</button>
            </form>
        </div>
        
<%- include("footer") -%>